body {
    margin:0;
    padding:0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    
    background-color: white;
    background-image: url(/img/background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
}

.main-header {
line-height: 26px;    
}

.main-navigation{
  font-weight: 700;
    
  background-color: white;
}

.site-navigation,
.user-navigation,
.best-5things,
.estate,
.food,
.souvenirs,
ul>li{
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color:black;
}

.site-navigation a:active,
.user-navigation a:active {
    opacity: 0.3; 
}

.site-navigation a:hover,
.user-naavigation a:hover {
    color: #81b3d2;
}


.main-head h1 {
    font-size: 21px;
    line-height: 26px;
}
h1~h2 {
     font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}


.true-city,
.bridge {
    background-color: #81b3d2;
    color:white;
}
.true-city {
    text-align: left;
}
.bridge {
    text-align: right;
  
}

.best-5things h1 {
    font-size: 21px;
    }
.small-town,
.road,
.free-place {
    background-color: #eeeeee;
}

.best-5things li {
    text-align: center;
    }

 

}
div~h2{
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

h2~p {
    font-size: 14px;
    line-height: 24px; 
    font-weight: normal;
}


.interested {
  text-align: center;  
}
.search-form{
    width: 568px;
    height: 395px;
}
.search-btn{
     width: 568px;
    height: 86px;
    font: inherit;
    text-transform: uppercase;
    background-color: #766357;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
}
.search-btn:active {
  background-color: #503e33;
  opacity: 0.3;    
}
.search-btn:hover {
  background-color: #604e43;
}
.field {
    background-color: #f2f2f2;
}
.field:active {
  background-color: #ffffff ;  
}
.field:hover {
    background-color: #ebebeb;
}


.find-btn {
     width: 458px;
    height: 58px;
    background-color: #81b3d2;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    line-height: auto;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
.find-btn:active,
.social-btn:active{
 background-color:#5496bd;   
}
.find-btn:hover,
.social-btn:hover{
    background-color:#669ec0;
}



.visit {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;   
   }

.social-btn {
    width: 46px;
    height: 48px;
  background-color: #81b3d2;
  font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase; 
}

.footer-copyright {
 font-size: 14px;
 line-height: 26px;
 font-weight: normal;    
}
.logo-academy {
    color: red;
    width: 115px;
    height: 41px;
}







.body-catalog {
   font-weight: normal;
   background-image: url(img/filter%20background.jpg);
    
}

.site-navigation,
.user-navigation{
   list-style: none;
    font-weight: bold;
}

legend {
  font-size: 16px;
 line-height: 21px;
 font-weight: bold;
    color:darkgoldenrod;
}

.price-filter {
    background-color: transparent;
    border: 2px white solid;
    color: darkgoldenrod;
}
input,
label input {
    color: darkgoldenrod;
}


.showme {
    height: 32px;
    width: 133px;
    border: 2px solid white;
    background-color: transparent;
    color: darkgoldenrod;
}
.showme:hover {
    background-color: white;
    color:black;
}


li~.found {
   font-size: 61px;
 line-height: 26px;
 font-weight: bold; 
}

